.contactField {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  flex-basis: calc((100% - 3 * 12px) / 4);
  width: 100%;
  min-width: 272px;
  border-radius: 8px;
  display: flex;
  padding: 8px 6px;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}
.contactField:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  background-color: lightgray;
}

.field {
  display: flex;
  align-items: center;
}

.fieldInfo {
  font-size: 17px;
  line-height: normal;
  padding: 0;
  text-align: center;
}

.icon {
  margin-right: 4px;
  fill: #43546a;
}

.button {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #43546a;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
  height: fit-content;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #c24f47;
}
