.form {
  border-radius: 8px;
  max-width: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fieldBox {
  max-width: 295px;
  width: 100%;
}

.input {
  width: 100%;
}

.error {
  color: red;
}
